a{
	color: #C47D7C;
}
.screen {
	width:100%;
		border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.avatar{
	float: left;
	margin-right: 10px;
}
.panel-user{
	
}
.panel-user h3
{
	margin-top: 0;
	margin-bottom: 0;
}
.list_status{
	list-style-type: none;
  padding-left: 0;
}
.list_status li:nth-child(odd){
	background: #f5f5f5;
}
.list_status li{
  padding: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  min-height: 72px;
  position: relative;
}
.list_status li h4,
.list_status li h5
{
  margin-top: 0px;
  margin-bottom: 0px;
}
.list_status li:hover{
	background: #dedede;
}
.float-left{
	float: left;
	margin-right: 5px;
}
.clear{
	clear:both;
}
.margin-none{
	margin: 0;
}
.log{
	font-size: 0.6em;
	background: #f5f5f5;
	font-family: 'courier new'
;
	padding: 5px;
}
.opacity50{
	opacity: 0.5;
	cursor: pointer;
}
.opacity50:hover{
	opacity: 1;
}
.status-tool{
	  display: block;
  text-align: right;
}
.friend-status{
	  font-size: 0.8em;
}
.cb_user{
	position: absolute;
  top: 5px;
  right: 5px;
}
.tool a{
	padding-top: 0 !important;
}
.tool.open:hover,
.tool.open:focus,
.tool a:hover
{
	background: initial !important;
}